.left-section {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;       /* Memusatkan secara vertikal */
    justify-content: center;   /* Memusatkan secara horizontal */
    overflow: hidden;
}

.square-image {

    width: 60%;                /* Gambar memenuhi 60% dari lebar LeftSection */
    height: auto;              /* Tinggi menyesuaikan secara proporsional */
    object-fit: cover;         /* Gambar menutupi area yang ditentukan */
    margin: 0;
    padding: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

/* Kelas animasi tetap sama */
.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

/* Responsif */
@media (max-width: 768px) {
    .left-section {
        height: 400px;           /* Sesuaikan tinggi pada layar kecil */
    }

    .square-image {
        width: 80%;              /* Gambar memenuhi 80% pada layar kecil */
    }
}
